<h1>Edit <%= foundAlbum.name %>'s Tweet</h1>
<h4>Edit Song</h4>
<form
  action="/users/<%= foundAlbum.id %>/tweets/<%= foundSong.id %>?_method=PUT"
  method="POST"
>
  <div class="form-group">
    <label for="songText">Tweet Text</label>
    <input
      type="text"
      class="form-control"
      id="songText"
      name="songText"
      value="<%= foundSong.songText %>"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>